<router-outlet></router-outlet>
<div style="margin-bottom: 3rem;"></div>
<table>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr><td><a [routerLink]="['/home']">home</a></td></tr>
        <tr><td><a [routerLink]="['/interpolation-test-demo']">interpolation-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/property-binding-test-demo']">property-binding-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/class-binding-test-demo']">class-binding-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/style-binding-test-demo']">style-binding-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/attribute-binding-test-demo']">attribute-binding-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/event-binding-test-demo']">event-binding-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/conditional-rendering-test-demo']">conditional-rendering-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/switch-rendering-test-demo']">switch-rendering-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/ngfor-test-demo']">ngfor-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/template-context-test-demo']">template-context-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/two-way-binding-test-demo']">two-way-binding-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/template-driven-forms-test-demo']">template-driven-forms-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/template-driven-forms-at-controller-level-test-demo']">template-driven-forms-at-controller-level-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/template-driven-forms-validation-test-demo']">template-driven-forms-validation-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-test-demo']">reactive-forms-form-control-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-validation-test-demo']">reactive-forms-form-control-validation-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-set-value-test-demo']">reactive-forms-form-control-set-value-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-set-validators-method-test-demo']">reactive-forms-form-control-set-validators-method-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-clear-validators-method-test-demo']">reactive-forms-form-control-clear-validators-method-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-value-change-test-demo']">reactive-forms-form-control-value-change-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-mark-as-touched-test-demo']">reactive-forms-form-control-mark-as-touched-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-form-group-test-demo']">reactive-forms-form-control-form-group-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-form-group-validation-test-demo']">reactive-forms-form-control-form-group-validation-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-form-group-set-value-test-demo']">reactive-forms-form-control-form-group-set-value-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-form-group-patch-value-test-demo']">reactive-forms-form-control-form-group-patch-value-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-form-arrays-test-demo']">reactive-forms-form-control-form-arrays-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-form-arrays-push-method-test-demo']">reactive-forms-form-control-form-arrays-push-method-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-form-control-form-arrays-removeAt-method-test-demo']">reactive-forms-form-control-form-arrays-removeAt-method-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/reactive-forms-address-management-system-one-test-demo']">reactive-forms-address-management-system-one-test-demo</a></td></tr>
        <tr><td><a [routerLink]="['/routes-test-demo']">routes-test-demo</a></td></tr>
    </tbody>
</table>


